main{
    background-color: aliceblue;
}

section{
    max-width: 1240px;
    margin: auto;
    color: black;
}

html { 
    scroll-behavior: smooth;
}
.seat{
    background-color: aqua;
    padding: 8px 12px;
}
.yellow{
    background-color: yellow;
}